<ion-card>
  <ion-card-content>
    <!--<ion-item>
      <ion-label floating>Escolha sua foto</ion-label>
      <ion-input [(ngModel)]="profile.avatar" type="text"></ion-input>
    </ion-item>-->
    <ion-item>
      <ion-label floating>Nome</ion-label>
      <ion-input [(ngModel)]="profile.firstName" type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label floating>Email</ion-label>
      <ion-input [(ngModel)]="profile.email" type="email"></ion-input>
    </ion-item>
    <!--<ion-item>
      <ion-label floating>Serviço</ion-label>
      <ion-input [(ngModel)]="profile.service" type="text"></ion-input>
    </ion-item>-->
    <ion-item>
      <ion-label floating>Um pouco sobre mim</ion-label>
      <ion-input [(ngModel)]="profile.description" type="text"></ion-input>
    </ion-item>
    <!--<ion-item>
      <ion-label floating>Preço Médio</ion-label>
      <ion-input  [(ngModel)]="profile.preco" type="number"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label floating>Horário</ion-label>
      <ion-input  [(ngModel)]="profile.horario" type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label floating>Local</ion-label>
      <ion-input [(ngModel)]="profile.local" type="text"></ion-input>
    </ion-item>-->
  </ion-card-content>
</ion-card>
<button ion-button>Editar serviços</button>
<button ion-button (click)="createService()">Adicionar serviço</button>
<button ion-button (click)="saveProfile()">Salvar</button>
